.button {
  background-color: #1abc9c;
  background-image: url(./images/right-arrow.png);
  background-repeat: no-repeat;
  background-position: top 50% right 30px;
  display: inline-block;
  outline: none;
  border-radius: 50px;
  padding: 0 65px 0 35px;
  border: solid 2px #1abc9c;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  line-height: 56px;
  min-width: 300px;
}
.button:hover {
  background-color: #08987c;
  border-color: #08987c;
}
