:root {
  --red: rgb(255, 93, 93);
}
.field-row {
  width: 100%;
  padding-bottom: 15px;
}
.field-row.field-row_hidden-row {
  display: none;
}
.field-row.field-row_no-padding {
  padding: 0;
}

.field-row label {
  text-align: left;
  display: block;
  padding-bottom: 5px;
  font-size: 14px;
}

.field-row input {
  width: 100%;
  border: solid 1px #ededed;
  border-radius: 3px;
  height: 56px;
  outline: none;
  padding: 5px 15px;
}

.field-row input.field-error {
  border-bottom: 2px solid var(--red);
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.25);
}

div.error-message {
  font-size: 14px;
  color: var(--red);
}

.center {
  text-align: center;
}

.form-tel {
  color: #fff;
  transition: color 300ms ease;
}
.form-tel:hover {
  color: #1abc9c;
  transition: color 300ms ease;
}
